<head>
    <title>Add credential</title>
</head>
<body>
<h1>Add new credential</h1>
<p th:if="${newCredentialEmpty}" class="error">Resource and password field cannot be empty!</p>
<form th:action="@{/addcredential/userId=} + ${userId}"  method="post">
    <label for="resource">Resource</label>:
    <input type="text" id="resource" name="resource" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Create new user" />
</form>
</body>
</html>
