<div th:switch="${credentials}">
    <h2 th:case="null">No credentials yet!</h2>
    <div th:case="*">
        <h2>Credentials</h2>
        <table>
            <thead>
            <tr>
                <th>Resource</th>
                <th>Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="credential : ${credentials}">
                <td th:text="${credential.resource}"></td>
                <td th:text="${credential.password}"></td>
                <td><a th:href="@{/edit/{id}(id=${credential.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${credential.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <input type="text" id="nameInput" name="nameInput" />

    <button th:onclick="salute()">Greet me!</button>

    <p><a th:href="@{'/admin?userId=' + ${userId}}">Go to admin page</a></p>
    <p><a th:href="@{'/addcredential?userId=' +${userId}}">Add a new credential</a></p>
    <p><a th:href="@{'/'}">Log out</a></p>

    <script  th:inline="javascript">
        function salute() {
            eval('alert("' + document.getElementById("nameInput").value + '")');
        }
    </script>
</div>
