<form action="#"
      th:action="@{/update/{id}(id=${credential.id})}"
      th:object="${credential}"
      method="post">
    <label for="resource">Resource</label>
    <input type="text" th:field="*{resource}" id="resource" placeholder="Resource">
    <span th:if="${#fields.hasErrors('resource')}" th:errors="*{resource}"></span>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <input type="submit" value="Update Credential">
</form>
